PRIVATE_KEY=your_wallet_private_key
BASE_SEPOLIA_RPC=https://base-sepolia.g.alchemy.com/v2/your_key
BASE_RPC=https://mainnet.base.org
BASESCAN_API_KEY=your_basescan_key
USDC_ADDRESS=0x0000000000000000000000000000000000000000
PINATA_API_KEY=your_pinata_key
PINATA_SECRET=your_pinata_secret
